body {
    background-color: bisque;
}

@font-face {
    font-family: NotoSans;
    src: url(../fonts/notosans.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Hedvig;
    src: url(../fonts/hedvig.ttf) format('truetype');
    font-display: swap;
}

p {
    font-family: Hedvig;
    font-size: 1.25em;
    color: darkblue;
    text-align: center;
    line-height: 1.4em;
    padding: 25px 45px 10px 45px;
}

.section_two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section_two div {
    width: 25%;
}

.section_three {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px; 
}

.equipe_photos1 {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px; 
}

.equipe_photos2 {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px; 
}

.equipe_mots1 {
    display: flex;
    flex-direction: row;
    border-color: cadetblue;
    justify-content: center;
    justify-content: space-evenly;
}

.equipe_mots2 {
        display: flex;
        flex-direction: row;
        border-color: cadetblue;
        justify-content: center;
        justify-content: space-evenly;
        padding: 50px; 
}
    
.autre_courses_websites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 150px 100px 0px 100px;
}

.autre_courses_websites div {
    width: 25%;
}

.chronosports_addresse {
    text-decoration: none;

}
.kms_addresse {
    text-decoration: none;
    font-size: large; 
}

.photos_autres_courses {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px; 
}

.parcours_strava_maps {
    display:flex;
    flex-direction: row;
    justify-content: center; 
    justify-content: space-evenly;
    padding: 50px 
}

footer {
    text-align: center;
    padding-top: 40px;
}

.fb_logo {
    text-align: end;
}