.equipe_photos {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px; 
    gap: 10px;
    flex-wrap: wrap;
}

.card {
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffecd5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card p {
    padding: 25px 10px;
}