.autre_courses_websites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 150px 100px 0px 100px;
}

.autre_courses_websites div {
    width: 25%;
}

.chronosports_addresse {
    text-decoration: none;

}
.kms_addresse {
    text-decoration: none;
    font-size: large; 
}

.photos_autres_courses {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px; 
}